
.start-screen {
    visibility: visible;
    z-index: 1;
    display: initial;
    text-align: center;    
    border: 1px solid gray;
    background-color: purple;
    opacity: 95%;
    position: absolute;
    top: 150px;
    height: 1200px;
    width: 50%;
}

.start-screen h1 {
    position: relative;
    top: 5%;
    font-size: 10rem;
    font-weight: lighter;
    font-style: oblique;
    text-shadow: goldenrod;
}

.start-btn {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 25%;
    right: 25%;
    left: 25%;
    align-content: space-around;
    opacity: 90%;
    background-color: rgb(97, 4, 134);
    color: goldenrod;
    font-family: "Jacquard 12 Charted", system-ui;
    font-size: 12rem;
    padding: 0px 0px;  
} 

.game-screen {  
    background-image: url("media/20495-310204614_small1-ezgif.com-video-to-gif-converter.gif");    
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 15px solid black; 
    margin: 0 auto;
}

body {  
    background-image: url("media/20495-310204614_small1-ezgif.com-video-to-gif-converter.gif");    
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 40px solid black; 
    margin: 0 auto;
    max-width: auto;
    max-height: auto;
}

h1 {
    font-size: 5rem;
    font-family: "Rubik Broken Fax", system-ui;
}

.game-grid {
    display: grid;
    grid-template-columns: 225px 225px 225px;
    grid-template-rows: 225px 225px 225px;
    padding: 25px 0px;
    opacity: 150%;
}
.game-grid div {
    display: grid;
}
.gamegrid h3 {
    font-size: 3rem;
}

.square {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    font-weight: bold;
    width: auto;
    height: auto;
}
.square div {
    margin:auto;
}

.result {
    visibility: hidden;
    background-size: cover;
    justify-content: center;
    text-align:center;
    font-family: "Jersey 25", sans-serif;
    background-color: rgba(0, 0, 0, 0.356);
    color: goldenrod;
    font-size: 6rem;
}



.reset {
    visibility: hidden;
    font-size: 3rem;
    margin: 0px 0px 70px 0px;
    font-family: "Jersey 25", sans-serif;
    background-color: rgba(0, 0, 0, 0.356);
    color: goldenrod;
    size: 10rem;
}

.rounds {
    display: initial;
    font-family: "Jersey 25", sans-serif;
    font-size: 5rem;
}
.rounds-count {
    display: initial;
}


.s1 {
    border-bottom: 5px solid black;
    border-right: 5px solid black;
}
.s2 {
    border-bottom: 5px solid black;
    border-left: 5px solid black;
    border-right: 5px solid black;
}
.s3 {
    border-bottom: 5px solid black;
    border-left: 5px solid black;
}
.s4 {
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    border-right: 5px solid black;
}
.s5 {
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    border-left: 5px solid black;
    border-right: 5px solid black;
}
.s6 {
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    border-left: 5px solid black;
}
.s7 {
    border-top: 5px solid black;
    border-right: 5px solid black;
}
.s8 {
    border-top: 5px solid black;
    border-left: 5px solid black;
    border-right: 5px solid black;
}
.s9 {
    border-top: 5px solid black;
    border-left: 5px solid black;
}

.audio {
    float: left;
    
}

.material-symbols-outlined {
    size: 200px;
}